<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Coin Combos!!!</title>
    </head>
    <body>
        <div class="container">
            <h1>Coin Combinations</h1>
            <h4>An app that lets you enter an amount of cents and shows the smallest number of quarters, dimes, nickels, and pennies needed to make that change.</h4>
            <form action="/results">
                <div class="form-group">
                    <label for="cents">Enter the amount of CENTS to be converted:</label>
                    <input type="number" id="cents" name="cents" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Convert</button>
            </form>
        </div>
    </body>
</html>
